@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    height: 100vh;
    background: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container {
    height: 400px;
    width: 650px;
    display: flex;
}

.cols {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 45px;
    width: 300px;
}

.cols p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 11px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 20px;
    padding-bottom: 10px;
}

.col1 {
    background: hsl(31, 77%, 52%);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.col1 button {
    color: hsl(31, 77%, 52%);
}

.col2 {
    background-color: hsl(184, 100%, 22%);
}

.col2 button {
    color: hsl(184, 100%, 22%);
}

.col3 {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.col3 button {
    color: hsl(179, 100%, 13%);
}

.btn {
    padding: 7px 15px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.btn:active {
    transform: scale(.9);
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    /*Put your CSS here for 200px to 767px width devices (cover all width between 200px to 767px */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 2rem;
        overflow: hidden;
    }
    .container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .container h2 {
        font-size: 1rem;
    }
    .container p {
        font-size: .85rem;
    }
    .cols {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: baseline;
        padding: 1.5rem 2.5rem;
        width: 100%;
        height: 100%;
    }
    .cols img {
        height: 30px;
        width: 30px;
    }
    .col1 {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 0;
    }
    .col3 {
        border-bottom-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0;
    }
    .btn {
        padding: 3px 7px;
        font-size: .51rem;
    }
}